
<div class="row">
    <div class="col-md-12">
        <div class="api">

            <div class="api2">
                <h2>Enter your postcode<br>to find nearest Garage:</h2>
                <input type="text" id="searchGM" name="searchGM" placeholder="Enter name" required />
                <div><button class="mb-2" type="submit" id="submit">SEARCH</button></div> 
                <figure>
                    <a href="a5"><img src="img/audi/A5/smal/AudiA5.jpg" alt="A5"></a>
                </figure>
            </div>


        </div>

        <div class="api">

            <div class="api2">
                <h2>Enter Model name<br>to find it on Wikipedia:</h2>
                <input type="text" id="searchWP" name="searchWP" placeholder="Enter name" required />
                <div><button class="mb-2" type="submit" id="submit">SEARCH</button></div> 
                <figure>
                    <a href="a5"><img src="img/audi/A5/smal/AudiA5.jpg" alt="A5"></a>
                </figure>
            </div>

        </div>
    </div>

</div>
