<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mercedes-Benz A-Class</h1>
					<p>The Mercedes-Benz A-Class is a subcompact executive car (subcompact in its first two generations) produced by the German automobile manufacturer Mercedes-Benz. The first generation (W168) was introduced in 1997, the second generation model (W169) appeared in late 2004 and the third generation model (W176) was launched in 2012. The fourth generation model (W177), which was launched in 2018, will mark the first time the A-Class is offered in the United States and Canada. This fourth generation A-Class will also be the first to be offered both as a hatchback (W177) and sedan (V177).</p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/merc/A/galery/a1.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/a1.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/A2012.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/A2012.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/a3.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/a3.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/A2018.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/A2018.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/a2.jpg" data-lightbox="galleryMA"></a>
						<a href="img/merc/A/galery/a4.jpg" data-lightbox="galleryMA"></a>
						<a href="img/merc/A/galery/A2018-.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/A2018-.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/a5.jpg" data-lightbox="galleryMA"><img src="img/merc/A/galery/a5.jpg" alt="MA"></a>
						<a href="img/merc/A/galery/a6.jpg" data-lightbox="galleryMA"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>