<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mercedes-Benz E-Class</h1>
					<p>The Mercedes-Benz E-Class is a range of executive cars manufactured by German automaker Mercedes-Benz in various engine and body configurations. Produced since 1953, the E-Class falls midrange in the Mercedes line-up, and has been marketed worldwide across five generations. 
						Before 1993, the E in Mercedes-Benz nomenclature was a suffix following a vehicle's model number which stood for Einspritzmotor (German for fuel injection engine). It began to appear in the early 1960s, when that feature began to be utilized broadly in the maker's product line, and not just in its upper tier luxury and sporting models. By the launch of the facelifted W124 in 1993 fuel-injection was ubiquitous in Mercedes engines, and the E was adopted as a prefix (i.e., E 220) and the model line referred to officially as the E-Class (or E-Klasse). All generations of the E-Class have offered either rear-wheel drive or Mercedes' 4Matic four-wheel drive system. 
						</p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/merc/E/galery/e1.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e1.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e10.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e10.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e2.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e8.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e3.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e3.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e12.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e12.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e5.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e9.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e4.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e4.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e13.jpg" data-lightbox="galleryME"><img src="img/merc/E/galery/e13.jpg" alt="ME"></a>
						<a href="img/merc/E/galery/e6.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e11.jpg" data-lightbox="galleryME"></a>
						<a href="img/merc/E/galery/e7.jpg" data-lightbox="galleryME"></a>
						
						
						
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
				
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>