<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mercedes-Benz C-Class</h1>
					<p>The Mercedes-Benz C-Class is a line of compact executive cars produced by Daimler AG. Introduced in 1993 as a replacement for the 190 (W201) range, the C-Class was the smallest model in the marque's line-up until the W168 A-Class arrived in 1997. The C-Class built at Mercedes-Benz factories in Sindelfingen and Bremen, Germany as well as numerous satellite factories in other countries. The first C-Class (W202) sedan produced on 1 June 1993 and the opening of the second generation (W203) rolled off the assembly line on 18 July 2000. The C-Class has been available with a 4Matic (i.e., four-wheel drive) option since 2002. The third generation (W204) was launched in 2007 while the latest generation C-Class (W205) came out in 2014.</p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/merc/C/galery/c1.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/c1.jpg" alt="MC"></a>
						<a href="img/merc/C/galery/C2014.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/C2014.jpg" alt="MC"></a>
						<a href="img/merc/C/galery/c2.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/c2.jpg" alt="MC"></a>
						<a href="img/merc/C/galery/CC2014.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/CC2014.jpg" alt="MC"></a>
						<a href="img/merc/C/galery/c3.jpg" data-lightbox="galleryMC"></a>
						<a href="img/merc/C/galery/c4.jpg" data-lightbox="galleryMC"></a>
						<a href="img/merc/C/galery/C2006.jpg" data-lightbox="galleryMC"></a>
						<a href="img/merc/C/galery/c5.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/c5.jpg" alt="MC"></a>
						<a href="img/merc/C/galery/c6.jpg" data-lightbox="galleryMC"><img src="img/merc/C/galery/c6.jpg" alt="MC"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>