
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mercedes</h1>
					<p>Nie wiem kto to będzie pisał. Pewnie będą to jakieś z dupy teksty o nowych beznadziejnych furach. Zamiast zrobić cool strone o prawdziwych samochodach to te nędzne popierdułki będą tutaj pokazywane. HA HA HA.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a_class"><img src="img/malysz.jpg" alt="A-Class"></a>
							<figcaption>A-Class</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="b_class"><img src="img/stoch.jpg" alt="B-Class"></a>
							<figcaption>B-Class</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="c_class"><img src="img/schmitt.jpg" alt="C-Class"></a>
							<figcaption>C-Class</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	