
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mercedes</h1>
					<p>Mercedes-Benz is a German global automobile marque and a division of Daimler AG. Mercedes-Benz is known for luxury vehicles, vans, trucks, buses, coaches and ambulances. The headquarters is in Stuttgart, Baden-Württemberg. The name first appeared in 1926 under Daimler-Benz. In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a_class"><img src="img/malysz.jpg" alt="A-Class"></a>
							<figcaption>A-Class</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="b_class"><img src="img/stoch.jpg" alt="B-Class"></a>
							<figcaption>B-Class</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="c_class"><img src="img/schmitt.jpg" alt="C-Class"></a>
							<figcaption>C-Class</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	