<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>MERCEDES-BENZ</h1>
					<p>Mercedes-Benz is a German global automobile marque and a division of Daimler AG. Mercedes-Benz is known for luxury vehicles, vans, trucks, buses, coaches and ambulances. The headquarters is in Stuttgart, Baden-Württemberg. The name first appeared in 1926 under Daimler-Benz. In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a_class"><img src="img/merc/A/smal/A-Class2012-2018.jpg" alt="A-Class"></a>
							<figcaption>A-Class</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
						<figure>
							<a href="c_class"><img src="img/merc/C/smal/C-Class2007-2014.jpg" alt="C-Class"></a>
							<figcaption>C-Class</figcaption>
						</figure>
					
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="b_class"><img src="img/merc/E/smal/e10.jpg" alt="E-Class"></a>
							<figcaption>E-Class</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<div class="row">
					<div class="col-xl">
						<label for="name" id="label"> Use Search field to<br> find places/garages:</label><br>
						<input id="pac-input" class="controls" type="text" placeholder="What are you looking for &#63;">
						<div id="map"></div><br>

					</div>

						<div class="col-xl">
						
							<form role="form" action="/mercedes/mercedes" method="POST">
								
								<div>
									<label for="name" id="label"> Enter Brand and Model to<br>find it on Wikipedia:</label><br>
									<input type="text" id="searchWP" name="searchWP" placeholder="Enter Brand and Model" required />
								</div><br>
									<button class="mb-2" type="submit" id="submit">SEARCH</button> <br>
			
								<% apiWiki.forEach(wsad => { %>
									<div class="card mt-4">
									<a href="<%= wsad.link %>" target="_blank"><%= wsad.name %></a>
									</div> 
									<% }) %>

							</form> <br>
						</div>
				</div>
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>