body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
	margin: auto;
}

.container
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.jumpers
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jumpers img
{
	width: 100%;
	height: auto;
}

.jumpers p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}

.info
{
	padding: 20px;
	font-size: 36px;
}

.navbar
{
	min-height: 57px;
}

.bg-jumpers
{
	background-color: #91a33b !important;
}

a.tilelink2
{
	color:#ffffff;
	text-decoration:none;
	/*display:block;*/
	width: 105px;
		min-height:142px;
}	

.wiki:hover
{
	background-color:#113566;
}
.yt:hover
{
	background-color:#c83237;
}
.fb:hover
{
	background-color:#3557a2;
}
.google:hover
{
	background-color:#eae6e6;
}

.yt
{
	display: inline-block;	
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#d94348;
	margin-bottom: 10px;
}
.fb
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#4668b3;
	margin-bottom: 10px;
}
.google
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#FBF7F7;
	color:#030303;
	margin-bottom: 10px;
}
.wiki
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#114677;
	margin-bottom: 10px;
}

