<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cars</title>
    <meta name="description" content="Cars Aid Website">
    <meta name="keywords" content="cars, garage">
    <meta name="author" content="Group 8">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootnavbar.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="css_f/google.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>

   <header>
        <nav class="navbar navbar-dark bg-jumpers navbar-expand-lg">
            <a class="navbar-brand" href="/"><img src="img/Logo.png" width="200" height="200" class="d-inline-block mr-3 align-bottom" alt=""></a>
           	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" 
               aria-expanded="false" aria-label="Navigation Toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> Home </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Cars</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="ford" id="navbarDropdown1" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ford
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
									<li><a class="dropdown-item marka" href="ford">Ford</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="mustang">Mustang</a></li>
                                    <li><a class="dropdown-item" href="fiesta">Fiesta</a></li>
                                    <li><a class="dropdown-item" href="focus">Focus</a></li>
                                </ul>
                            </li>
            
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="mercedes" id="navbarDropdown2" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mercedes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
									<li><a class="dropdown-item marka" href="mercedes">Mercedes</a></li>
                                      <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="a_class">A-Class</a></li>
                                    <li><a class="dropdown-item" href="b_class">B-Class</a></li>
                                    <li><a class="dropdown-item" href="c_class">C-Class</a></li>
                                </ul>
                            </li>
                    
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="nissan" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nissan
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
									<li><a class="dropdown-item marka" href="nissan">Nissan</a></li>
                                      <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="juke">Juke</a></li>
                                    <li><a class="dropdown-item" href="leaf">Leaf</a></li>
                                    <li><a class="dropdown-item" href="micra">Micra</a></li>
                                </ul>
                            </li>
            
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="audi" id="navbarDropdown4" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Audi
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
									<li><a class="dropdown-item marka" href="audi">Audi</a></li>
                                      <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="a3">A3</a></li>
                                    <li><a class="dropdown-item" href="a4">A4</a></li>
                                    <li><a class="dropdown-item" href="a5">A5</a></li>
                                </ul>
                            </li>
            
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="bmw" id="navbarDropdown5" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    BMW
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
									<li><a class="dropdown-item marka" href="bmw">BMW</a></li>
                                      <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="series_1">Series 1</a></li>
                                    <li><a class="dropdown-item" href="series_3">Series 3</a></li>
                                    <li><a class="dropdown-item" href="series_5">Series 5</a></li>
                                </ul>
                            </li>
            
                            <li class="nav-item dropdown">
                                <a class="dropdown-item dropdown-toggle" href="honda" id="navbarDropdown6" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Honda
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
									<li><a class="dropdown-item marka" href="honda">Honda</a></li>
                                      <div class="dropdown-divider"></div>
                                    <li><a class="dropdown-item" href="civic">Civic</a></li>
                                    <li><a class="dropdown-item" href="crv">CRV</a></li>
                                    <li><a class="dropdown-item" href="hrv">HRV</a></li>
                                </ul>
                            </li>
                         
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact"> Contact </a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="registration"> Register </a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="login"> Login </a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" href="logout"> Logout </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    


    <%- body %>



<footer>
    <div class="jumpers">
    
        <div class="row">
        
            <div class="col-sm-12 col-md-4">			
                <h2>A P I</h2>				
            </div>
                        
            <div class="col-sm-12 col-md-4">
                <div class="yt"><a href="http://www.youtube.com" class="tilelink2" target="_blank"><i class="icon-youtube"></i></a></div>
                <div class="fb"><a href="http://www.facebook.com" class="tilelink2" target="_blank"><i class="icon-facebook-rect"></i></a></div>
                <div class="google"><a href="http://www.google.pl" class="tilelink2" target="_blank"><i class="icon-google"></i></a></div>
                <div class="wiki"><a href="http://pl.wikipedia.org" class="tilelink2" target="_blank"><i class="icon-wikipedia"></i></a></div>
            </div>
                
            <div class="col-sm-12 col-md-4 dupa">
                <h3>ADDRESS</h3>
                Siemianowice</br>Wandy Chotomskiej 23</br>Zapiduchy</br>Gwatemala
            </div>	
            
        </div>
        
    <div class="info">
        IP3 GROUP 8 &copy; 2020
    </div>	
    
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootnavbar.js"></script>
<script>
    $(function () {
        $('#bootnavbar').bootnavbar();
    })
</script>

</body>
</html>