<%- include('./partials/headerLog') %>

<main>
	<section class="jumpers">
		<div class="container">
			<header>
				<h1>CONTACT</h1>
			</header>
				<h2 class="flashmsg"><% if (messages.error)  { %>
					<%= messages.error %>
					<% } 
					%></h2>
				
							<form role="form" action="/contact" method="POST">
								<div>
									<label for="name" id="label"> User Name:</label><br>
									<input type="text"  id="name" placeholder="Enter name" required>
								</div>
								<div>
									<label for="email" id="label" >Email address:</label><br>
									<input type="email" id="email" placeholder="Enter email" required>
								</div>
								<div>
									<label for="comment" id="label">Comment:</label><br>
									<textarea type="text" placeholder="Enter comment" rows="3" cols="20" required></textarea>
								</div><br>
								<button type="submit" id="submit">SEND</button><br>
							</form><br>
		
				
			
		</div>
	</section>
</main>

<%- include('./partials/footer') %>