<main>
		
    <section class="jumpers">
    
        <div class="container">
            
            <header>
                
                <h1>Pierdoły o furach</h1>
                <p>Nie wiem kto to będzie pisał. Pewnie będą to jakieś z dupy teksty o nowych beznadziejnych furach. Zamiast zrobić cool strone o prawdziwych samochodach to te nędzne popierdułki będą tutaj pokazywane. HA HA HA.</p>
                    
            </header>
            
            <div class="row">
                
                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="ford"><img src="img/malysz.jpg" alt="Ford"></a>
                        <figcaption>Ford</figcaption>
                    </figure>
                
                </div>
                
                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="mercedes"><img src="img/stoch.jpg" alt="Mercedes"></a>
                        <figcaption>Mercedes</figcaption>
                    </figure>
                
                </div>

                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="nissan"><img src="img/schmitt.jpg" alt="Nissan"></a>
                        <figcaption>Nissan</figcaption>
                    </figure>
                
                </div>

                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="audi"><img src="img/kranjec.jpg" alt="Audi"></a>
                        <figcaption>Audi</figcaption>
                    </figure>
                
                </div>

                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="bmw"><img src="img/schlierenzauer.jpg" alt="BMW"></a>
                        <figcaption>BMW</figcaption>
                    </figure>
                
                </div>
                
                <div class="col-sm-6 col-md-4">
                
                    <figure>
                        <a href="honda"><img src="img/kot.jpg" alt="Honda"></a>
                        <figcaption>Honda</figcaption>
                    </figure>
                
                </div>
            
            </div>
            
        </div>	
            
    </section>
    
</main>