<%- include('./partials/headerUnlog') %>

<main>
		
    <section class="jumpers">
    
        <div class="container">
            
            <header>
                
                <h1>Welcome to Smart Repair!</h1>
                <p>We are car enthusiasts who know the important role a car plays in the daily life of people, used as tools for work, entertainment and transport.
				   If your car has broken down, and you are looking for some guidance and support as to the next step(s) necessary for getting your car back on the road,
					we have all of the necessary material right here. If you want to have a go at trying to fix your car yourself, head over to the manuals section of the webpage. 
						If you want to arrange a repair job with an expert mechanic who is local to you, then check out our affiliates section.</p>
                    
            </header>
            
            <div class="row">
               
              <div class="col-sm-6 col-md-4">
                  
                  <figure>
                      <div id="popup"><b>FORD</b><br><br><p> Model's Available: 3 </p> <p>PDF's Available: 4</p> </div>
                      <a href="ford"><img src="img/ford/FordLogo.jpg" alt="Ford"  id="jsPopup"></a>
                      <figcaption>Ford</figcaption>
                  
                  </figure>
                
              </div>

              <div class="col-sm-6 col-md-4">
                  
                  <figure>
                      <div id="popup1"><b>AUDI</b><br><br><p> Model's Available: 3</p> <p>PDF's Available: 10</p></div>
                      <a href="audi"><img src="img/audi/AudiLogo.jpg" alt="Audi" id="jsPopup1"></a>
                      <figcaption>Audi</figcaption>
                  </figure>
              
              </div>
              
              <div class="col-sm-6 col-md-4">
              
                  <figure>
                      <div id="popup2"><b>MERCEDES</b><br><br><p> Model's Available: 3</p> <p>PDF's Available: 10</p></div>
                      <a href="mercedes"><img src="img/merc/MercedesLogo1.jpg" alt="Mercedes" id="jsPopup2"></a>
                      <figcaption>Mercedes</figcaption>
                  </figure>
              
              </div>

              <div class="col-sm-6 col-md-4">
              
                  <figure>
                      <div id="popup3"><b>NISSAN</b><br><br><p> Model's Available: 3</p> <p>PDF's Available: 14</p></div>
                      <a href="nissan"><img src="img/nissan/NissanLogo.jpg" alt="Nissan" id="jsPopup3"></a>
                      <figcaption>Nissan</figcaption>
                  </figure>
              
              </div>

              <div class="col-sm-6 col-md-4">
              
                  <figure>
                      <div id="popup4"><b>BMW</b><br><br><p> Model's Available: 3</p> <p>PDF's Available: 5</p></div>
                      <a href="bmw"><img src="img/bmw/BMWLogo.jpg" alt="BMW" id="jsPopup4"></a>
                      <figcaption>BMW</figcaption>
                  </figure>
              
              </div>
              
              <div class="col-sm-6 col-md-4">

                  <figure>
                      <div id="popup5"><b>HONDA</b><br><br><p> Model's Available: 3</p> <p>PDF's Available: 9</p></div>
                      <a href="honda"><img src="img/honda/HondaLogo.jpg" alt="Honda" id="jsPopup5"></a>
                      <figcaption>Honda</figcaption>
                  </figure>
              
              </div>
              <script type="text/javascript" src="js/popups.js"></script>
          </div>
            
        </div>	
            
    </section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script type="text/javascript" src="js/backtotop.js"></script>
</main>

<%- include('./partials/footer') %>