<%- include('./partials/headerUnlog') %>
	
	<main>
		<section class="jumpers">
			<div class="container">
				<header>
					<h1>LOGIN</h1>
				</header>
				<h2 class="flashmsg"><% if (messages.error)  { %>
					<%= messages.error %>
					<% } 
					%></h2>
				<form action="/login" method="POST">
					<div>
						<label for="login" id="label">User Name:</label><br>
						<input type="text" id="login" name="name" placeholder="Enter name" required/>
					</div>
					<div>
						<label for="password" id="label">Password:</label><br>
						<input type="password" id="password" name="password" placeholder="Enter password" required/>
                    </div> <br>   
					<div><button class="mb-2" type="submit" id="submit">LOGIN</button></div> 
					<div><a href="/registration">Not registered yet?</a></div>
				</form> <br>
				
			</div>
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>

	<%- include('./partials/footer') %>