<%- include('./partials/headerUnlog') %>
	
	<main>
		<section class="jumpers">
			<div class="container">
				<header>
					<h1>REGISTER</h1>
				</header>
				<h2 class="flashmsg"><% if (messages.error)  { %>
					<%= messages.error %>
					<% } 
					%></h2>
				<form action="/registration" method="POST">
					<div>
						<label for="login" id="label">User Name:</label><br>
						<input type="text" id="login" name="name" placeholder="Enter name" required/>
					</div>
					<div>
						<label for="password" id="label">Password:</label><br>
						<input type="password" id="password" name="password" placeholder="Enter password" required/>
					</div>
					<div>
						<label for="repassword" id="label" >Retype Password:</label><br>
						<input type="password" id="repassword" name="repassword" placeholder="Confirm password" required/>
					</div>
					<div>
						<label for="email" id="label">Email:</label><br>
						<input type="email" id="email" name="email" placeholder="Enter email" required/>
					</div>
					<div>
						<label for="reemail"id="label">Retype Email:</label><br>
						<input type="email" id="reemail" name="reemail" placeholder="Confirm email" required/>
					</div> <br>
					<button type="submit" id="submit">REGISTER</button>
				</form><br>

			</div>
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>

	<%- include('./partials/footer') %>
	