	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Audi A3</h1>
					<p>The Audi A3 is a small family or subcompact executive car manufactured and marketed since the 1990s by the Audi subdivision of the Volkswagen Group, now in its 3rd generation.

						The first two generations of the Audi A3 were based on the Volkswagen Group A platform, which they share with the Audi TT, Volkswagen Golf, Volkswagen Caddy, and Volkswagen Touran, as well as SEAT León, SEAT Toledo, and Škoda Octavia.  </p>
						
				</header>
				
				<div class="row">
					<div class="gallery">
						<a href="img/audi/A3/galery/Audi_A3_8P_III.jpg" data-lightbox="galleryA3"><img src="img/audi/A3/galery/Audi_A3_8P_III_smal.jpg" alt="A3"></a>
						<a href="img/audi/A3/galery/AudiA3.jpg" data-lightbox="galleryA3"><img src="img/audi/A3/galery/AudiA3_smal.jpg" alt="A3"></a>
						<a href="img/audi/A3/galery/audi-a3-3-door.jpg" data-lightbox="galleryA3"><img src="img/audi/A3/galery/audi-a3-3-door_smal.jpg" alt="A3"></a>
						<a href="img/audi/A3/galery/audi-a3-2016.jpg" data-lightbox="galleryA3"><img src="img/audi/A3/galery/audi-a3-2016_smal.jpg" alt="A3"></a>
						<a href="img/audi/A3/galery/AUDIA3Hatchback.jpg" data-lightbox="galleryA3"><img src="img/audi/A3/galery/AUDIA3Hatchback_smal.jpg" alt="A3"></a>

					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/audi/A4/pdf/50-1 Front end.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front end Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/audi/A4/pdf/55-1 Hood.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/55-12 Rear lid VIN 8D XA 200 000.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/2018-audi-a4-s4-72224.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
				
			</div>	
				
		</section>
		
	</main>