	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>AUDI A3</h1>
					<p>The Audi A3 is a small family or subcompact executive car manufactured and marketed since the 1990s by the Audi subdivision of the Volkswagen Group, now in its 3rd generation.

						The first two generations of the Audi A3 were based on the Volkswagen Group A platform, which they share with the Audi TT, Volkswagen Golf, Volkswagen Caddy, and Volkswagen Touran, as well as SEAT León, SEAT Toledo, and Škoda Octavia.  </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A3/galery/AudiA3.jpg" alt="A3"></a>
							<figcaption>A3</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A3/galery/audi-a3-3-door.jpg" alt="A3"></a> 
							<figcaption>A3</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A3/galery/Audi_A3_8P_III.jpg" alt="A3"></a>
							<figcaption>A3</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Front End</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Hood</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Rear</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Rear</figcaption>
						</figure>
					
					</div>
				
				</div>
				
			</div>	
				
		</section>
		
	</main>