
	<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>A4</h1>
					<p>The A4 has been built in five generations and is based on the Volkswagen Group B platform. The first generation A4 succeeded the Audi 80. The automaker's internal numbering treats the A4 as a continuation of the Audi 80 lineage, with the initial A4 designated as the B5-series, followed by the B6, B7, B8 and the B9. The B8 and B9 versions of the A4 are built on the Volkswagen Group MLB platform shared with many other Audi models and potentially one Porsche model within Volkswagen Group.</p>
						
				</header>
				
				<div class="row">
					<div class="gallery">
						<a href="img/audi/A4/galery/AudiA4.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/AudiA4.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/a42.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/a42.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/aAudi-a4.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/aAudi-a4.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/a4.jpg" data-lightbox="galleryA4"></a>
						<a href="img/audi/A4/galery/a41.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/a41.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/Audi_A4_B9_Limousine.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/Audi_A4_B9_Limousine.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/a46.jpg" data-lightbox="galleryA4"><img src="img/audi/A4/galery/a46.jpg" alt="A4"></a>
						<a href="img/audi/A4/galery/a43.jpg" data-lightbox="galleryA4"></a>
						<a href="img/audi/A4/galery/A4-B9.jpg" data-lightbox="galleryA4"></a>
						<a href="img/audi/A4/galery/a44.jpg" data-lightbox="galleryA4"></a>
						<a href="img/audi/A4/galery/a45.jpg" data-lightbox="galleryA4"></a>	
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>