
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>A4</h1>
					<p>The A4 has been built in five generations and is based on the Volkswagen Group B platform. The first generation A4 succeeded the Audi 80. The automaker's internal numbering treats the A4 as a continuation of the Audi 80 lineage, with the initial A4 designated as the B5-series, followed by the B6, B7, B8 and the B9. The B8 and B9 versions of the A4 are built on the Volkswagen Group MLB platform shared with many other Audi models and potentially one Porsche model within Volkswagen Group.</p>
						
				</header>
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A4/smal/AudiA4.jpg" alt="A4"></a>
							<figcaption>A4</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A3/galery/audi-a3-3-door.jpg" alt="A3"></a> 
							<figcaption>A3</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href=""><img src="img/audi/A3/galery/Audi_A3_8P_III.jpg" alt="A3"></a>
							<figcaption>A3</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Front End</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Hood</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Rear</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/50-1 Front end.pdf" download><img src="img/PNG.png" alt=""></a>
							<figcaption>Rear</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		
	</main>
	