<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Audi A5</h1>
					<p>The Audi A5 is a series of compact executive coupe cars produced by the German automobile manufacturer Audi since March 2007. The A5 range additionally comprises the coupe, cabriolet, and "Sportback" (a four-door hatchback with a fastback-like roofline) version of the Audi A4 saloon and estate models. </p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/audi/A5/galery/a5.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/a5.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/A5-F5.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/A5-F5.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/a52.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/a52.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/a51.jpg" data-lightbox="galleryA5"></a>
						<a href="img/audi/A5/galery/AudiA5.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/AudiA5.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/a55.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/a55.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/Audi-A5.jpg" data-lightbox="galleryA5"><img src="img/audi/A5/galery/Audi-A5.jpg" alt="A5"></a>
						<a href="img/audi/A5/galery/a53.jpg" data-lightbox="galleryA5"></a>
						<a href="img/audi/A5/galery/2018-audi-a5-sportback-render.jpg" data-lightbox="galleryA5"></a>
						<a href="img/audi/A5/galery/a54.jpg" data-lightbox="galleryA5"></a>
						<a href="img/audi/A5/galery/a56.jpg" data-lightbox="galleryA5"></a>	
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>