<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>AUDI</h1>
					<p>One of the most noteworthy accomplishments of the Audi franchise has been the significant strides it has made in relation to the durability of its vehicles. 
						The cars are fully galvanised to prevent corrosion and the inevitable oxidation process that metal undergoes with the passage of time, significantly prolonging the useful lifespan of the vehicles and eliminating rust in its entirety. 
						In addition, the Audi Company has also dedicated significant resources into the research and development of synthetically manufactured and derived fuels. 
						Synthetic fuel created from a combination of water and CO2 has proven successful in the creation of synthetic diesel.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a3"><img src="img/audi/A3/smal/Audi_A3.jpg" alt="A3"></a>
							<figcaption>A3</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a4"><img src="img/audi/A4/smal/AudiA4.jpg" alt="A4"></a>
							<figcaption>A4</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a5"><img src="img/audi/A5/smal/AudiA5.jpg" alt="A5"></a>
							<figcaption>A5</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	
	<%- include('../partials/footer') %>