<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Nissan Juke</h1>
					<p>The Nissan Juke is a subcompact crossover SUV produced by the Japanese manufacturer Nissan since 2010. The production version made its debut at the 2010 Geneva Motor Show in March, and was introduced to North America at the 2010 New York International Auto Show to be sold for the 2011 model year. The name "juke" means to dance or change directions demonstrating agility. </p>

				</header>
				
			
				
			</div>	
				
		</section>
		
	</main>
	
	<%- include('../partials/footer') %>