<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Nissan Juke</h1>
					<p>The Nissan Juke is a subcompact crossover SUV produced by the Japanese manufacturer Nissan since 2010. The production version made its debut at the 2010 Geneva Motor Show in March, and was introduced to North America at the 2010 New York International Auto Show to be sold for the 2011 model year. The name "juke" means to dance or change directions demonstrating agility. </p>

				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/ford/focus/galery/fs3.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/fs3.jpg" alt="F"></a>
						<a href="img/ford/focus/galery/F2011.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/F2011.jpg" alt="F"></a>
						<a href="img/ford/focus/galery/fs1.jpg" data-lightbox="galleryF"></a>
						<a href="img/ford/focus/galery/F2004.jpg" data-lightbox="galleryF"></a>
						<a href="img/ford/focus/galery/fs4.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/fs4.jpg" alt="F"></a>
						<a href="img/ford/focus/galery/F2018.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/F2018.jpg" alt="F"></a>
						<a href="img/ford/focus/galery/fs5.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/fs5.jpg" alt="F"></a>
						<a href="img/ford/focus/galery/F018.jpg" data-lightbox="galleryF"></a>
						<a href="img/ford/focus/galery/fs2.jpg" data-lightbox="galleryF"><img src="img/ford/focus/galery/fs2.jpg" alt="F"></a>
						
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>