<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Nissan Leaf</h1>
					<p>The Nissan Leaf stylised by manufacturer Nissan as LEAF, is a compact five-door hatchback battery electric vehicle, introduced in Japan and the United States in December 2010, and now in its second generation. Its range on a full charge is 243 km (151 miles).

						Among other awards and recognition, the Leaf has won the 2010 Green Car Vision Award, the 2011 European Car of the Year, the 2011 World Car of the Year, and the 2011–2012 Car of the Year Japan. </p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/nissan/leaf/galery/l1.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/l1.jpg" alt="L"></a>
						<a href="img/nissan/leaf/galery/L2017-.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/L2017-.jpg" alt="L"></a>
						<a href="img/nissan/leaf/galery/l2.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/l2.jpg" alt="L"></a>
						<a href="img/nissan/leaf/galery/L201.jpg" data-lightbox="galleryL"></a>
						<a href="img/nissan/leaf/galery/l3.jpg" data-lightbox="galleryL"></a>
						<a href="img/nissan/leaf/galery/l4.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/l4.jpg" alt="L"></a>
						<a href="img/nissan/leaf/galery/l5.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/l5.jpg" alt="L"></a>
						<a href="img/nissan/leaf/galery/l6.jpg" data-lightbox="galleryL"><img src="img/nissan/leaf/galery/l6.jpg" alt="L"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>