<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Nissan Micra</h1>

						<p>The Nissan Micra replaced the Japanese-market Nissan Cherry. It was exclusive to Nissan Japanese dealership network Nissan Cherry Store until 1999 when the "Cherry" network was combined into Nissan Red Stage until 2003. Until Nissan began selling badge engineered superminis from other Japanese manufacturers, the March was Nissan's smallest vehicle, and was not renamed and sold at other Japanese Nissan dealership networks. </p>
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/nissan/micra/galery/m1.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/m1.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/M1992.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/M1992.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/m5.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/m5.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/M2016.jpg" data-lightbox="galleryM"></a>
						<a href="img/nissan/micra/galery/m2.jpg" data-lightbox="galleryM"></a>
						<a href="img/nissan/micra/galery/M2002.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/M2002.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/m6.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/m6.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/M2010.jpg" data-lightbox="galleryM"><img src="img/nissan/micra/galery/M2010.jpg" alt="M"></a>
						<a href="img/nissan/micra/galery/m3.jpg" data-lightbox="galleryM"></a>
						<a href="img/nissan/micra/galery/Micra2016.jpg" data-lightbox="galleryM"></a>
						<a href="img/nissan/micra/galery/m4.jpg" data-lightbox="galleryM"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>