<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>NISSAN</h1>
					<p>Nissan Motor Co., Ltd. is a Japanese multinational automobile manufacturer headquartered in Nishi-ku, Yokohama. The company sells its cars under the Nissan, Infiniti, and Datsun brands with in-house performance tuning products labelled Nismo. The company traces its name to the Nissan zaibatsu, now called Nissan Group. </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="juke"><img src="img/nissan/juke/smal/Juke2020-now.jpg" alt="Juke"></a>
							<figcaption>Juke</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="leaf"><img src="img/nissan/leaf/smal/Leaf2017-.jpg" alt="leaf"></a>
							<figcaption>Leaf</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="micra"><img src="img/nissan/micra/smal/Micra2010-2016.jpg" alt="micra"></a>
							<figcaption>Micra</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<div class="row">
					<div class="col-xl">
						<label for="name" id="label"> Use Search field to<br> find places/garages:</label><br>
						<input id="pac-input" class="controls" type="text" placeholder="What are you looking for &#63;">
						<div id="map"></div><br>

					</div>

						<div class="col-xl">
						
							<form role="form" action="/nissan/nissan" method="POST">
								
								<div>
									<label for="name" id="label"> Enter Brand and Model to<br>find it on Wikipedia:</label><br>
									<input type="text" id="searchWP" name="searchWP" placeholder="Enter Brand and Model" required />
								</div><br>
									<button class="mb-2" type="submit" id="submit">SEARCH</button> <br>
			
								<% apiWiki.forEach(wsad => { %>
									<div class="card mt-4">
									<a href="<%= wsad.link %>" target="_blank"><%= wsad.name %></a>
									</div> 
									<% }) %>

							</form> <br>
						</div>
				</div>
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>