<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>NISSAN</h1>
					<p>Nissan Motor Co., Ltd. is a Japanese multinational automobile manufacturer headquartered in Nishi-ku, Yokohama. The company sells its cars under the Nissan, Infiniti, and Datsun brands with in-house performance tuning products labelled Nismo. The company traces its name to the Nissan zaibatsu, now called Nissan Group. </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="juke"><img src="img/nissan/juke/smal/Juke2020-now.jpg" alt="Juke"></a>
							<figcaption>Juke</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="leaf"><img src="img/nissan/leaf/smal/Leaf2017-.jpg" alt="leaf"></a>
							<figcaption>Leaf</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="micra"><img src="img/nissan/micra/smal/Micra2010-2016.jpg" alt="micra"></a>
							<figcaption>Micra</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	
	<%- include('../partials/footer') %>