body
{
	background-color: #2F3336;
	color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
	margin: auto;
}

.container
{
	background-color: #9A9A9A;
	
}

h1
{
	font-size: 46px;
	font-weight: 600;
	color: #f7f7f7;
	margin: 20px;
	padding-top: 20px;
	text-align: auto;
}

h3
{
	font-weight: bold;	
}

.flashmsg
{
	color: #000080;
	font-weight: bold;
}

#label{
	font-size: 30px;
	font-weight: bold;
}

.jumpers
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.jumpers img
{
	width: 100%;
	height: auto;
}

.jumpers p
{
	margin-bottom: 30px;
}

.jumpers figcaption
{
	margin-top: 8px;
}

.info
{
	margin-top:10px;
	padding: 10px;
	font-size: 18px;
	background-color: #2F3336;
}

.navbar
{
	min-height: 57px;
}

.bg-jumpers
{
	background-color: #707070 !important;
}

#mainmenu
{
	font-size: 26px;
}

a.tilelink2
{
	color:#ffffff;
	text-decoration:none;
	/*display:block;*/
	width: 105px;
	min-height:142px;
}

.wiki:hover
{
	background-color:#113566;
}

.yt:hover
{
	background-color:#c83237;
}

.fb:hover
{
	background-color:#3557a2;
}

.google:hover
{
	background-color:#eae6e6;
}

.yt
{
	display: inline-block;	
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#d94348;
	margin-bottom: 10px;
}

.fb
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#4668b3;
	margin-bottom: 10px;
}

.google
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#FBF7F7;
	color:#030303;
	margin-bottom: 10px;
}

.wiki
{
	display: inline-block;
	margin: auto;
	width: 105px;
	height:142px;
	background-color:#114677;
	margin-bottom: 10px;
}

footer
{	
	margin-top: 20px;
	padding-top: 20px;
	background-color: #707070 !important;
}

.marka
{
	color: black;
	font-weight: bold;
}
#submit
{
	letter-spacing: 5px;
	font-weight: bold;	
}

#pdf{
	max-width:100px;
	max-height:100px;
}

#popup, #popup1, #popup2, #popup3, #popup4, #popup5 {
	position: absolute ;
	padding: 10px;
	border: 3px solid #3DA886;
	border-radius: 10px;
	text-align: center;
	font: italic 22px/1.3 sans-serif;
	color: #333;
	background: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
	opacity: 0.9;
}

@media screen and (max-width: 1200px) {
	#popup, #popup1, #popup2, #popup3, #popup4, #popup5 {
		display: none !important;
	}
}

.gallery{
	margin: 10px 50px;
}

.gallery img{
	width: 230px;
	height: 150px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #3DA886;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }

  #myBtn:hover {
	background-color: #555;
  }

	   #map {
		height: 300px;
	  }
	  
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
		margin-left: 12px;
		margin-top: 10px;
        padding: 10px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
	  }

	  @media screen and (max-width: 520px) {
		#pac-input{
			position: absolute !important;
			left: 0px !important;
			margin-top: 60px !important;
		}
	}
