<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Land Rover</title>
	<meta name="description" content="Cars Aid Website">
	<meta name="keywords" content="cars, garage">
	<meta name="author" content="Group 8">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="css_f/google.css" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
</head>

<body>

	<header>
	
		<nav class="navbar navbar-dark bg-jumpers navbar-expand-lg">
		
			<a class="navbar-brand" href="/"><img src="img/Logo.png" width="200" height="200" class="d-inline-block mr-3 align-bottom" alt=""></a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation Toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="mainmenu">
			
				<ul class="navbar-nav mr-auto">
				
					<li class="nav-item active">
						<a class="nav-link" href="/"> Home </a>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Cars </a>
						
						<div class="dropdown-menu" aria-labelledby="submenu">
						
							<a class="dropdown-item" href="ford"> Ford </a>
							<a class="dropdown-item" href="mercedes"> Mercedes </a>
							<a class="dropdown-item" href="mini"> Mini </a>
							<a class="dropdown-item" href="nissan"> Nissan </a>
							<a class="dropdown-item" href="vauxhall"> Vauxhall </a>
							<a class="dropdown-item" href="volkswagen"> Volkswagen </a>
							<a class="dropdown-item" href="audi"> Audi </a>
							<a class="dropdown-item" href="bmw"> BMW </a>
							<a class="dropdown-item" href="honda"> Honda </a>
							<a class="dropdown-item" href="kia"> Kia </a>
							<a class="dropdown-item" href="land_rover"> Land Rover </a>
							<a class="dropdown-item" href="mg"> MG </a>
						
						</div>
						
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="contact"> Contact </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="registration"> Registration </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="login"> Login </a>
					</li>
					
						<li class="nav-item">
						<a class="nav-link" href="/"> Logout </a>
					</li>
				
				</ul>
			
				<form class="form-inline">
				
					<input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-light" type="submit">Search</button>
				
				</form>
			
			</div>
		
		</nav>
	
	</header>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Land Rover</h1>
					<p>defender</p>
						
				</header>
	
				</div>
		</section>
		
	</main>
	
	<footer>
		<div class="jumpers">
		
			<div class="row">
			
				<div class="col-sm-12 col-md-4">			
					<h2>A P I</h2>				
				</div>
							
				<div class="col-sm-12 col-md-4">
					<div class="yt"><a href="http://www.youtube.com" class="tilelink2" target="_blank"><i class="icon-youtube"></i></a></div>
					<div class="fb"><a href="http://www.facebook.com" class="tilelink2" target="_blank"><i class="icon-facebook-rect"></i></a></div>
					<div class="google"><a href="http://www.google.pl" class="tilelink2" target="_blank"><i class="icon-google"></i></a></div>
					<div class="wiki"><a href="http://pl.wikipedia.org" class="tilelink2" target="_blank"><i class="icon-wikipedia"></i></a></div>
				</div>
					
				<div class="col-sm-12 col-md-4 dupa">
					<h3>ADDRESS</h3>
					Siemianowice</br>Wandy Chotomskiej 23</br>Zapiduchy</br>Gwatemala
				</div>	
				
			</div>
			
		<div class="info">
			IP3 GROUP 8 &copy; 2020
		</div>	
		
		</div>

	</footer>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>