
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>BMW</h1>
					<p>Nie wiem kto to będzie pisał. Pewnie będą to jakieś z dupy teksty o nowych beznadziejnych furach. Zamiast zrobić cool strone o prawdziwych samochodach to te nędzne popierdułki będą tutaj pokazywane. HA HA HA.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_1"><img src="img/malysz.jpg" alt="series1"></a>
							<figcaption>Series 1</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_3"><img src="img/stoch.jpg" alt="series3"></a>
							<figcaption>Series 3</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_5"><img src="img/schmitt.jpg" alt="series5"></a>
							<figcaption>Series 5</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	