<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>BMW</h1>
					<p>Bayerische Motoren Werke AG, translated in English as Bavarian Motor Works, commonly referred to as BMW is a German multinational company which produces automobiles and motorcycles. The company was founded in 1916 as a manufacturer of aircraft engines, which it produced from 1917 until 1918 and again from 1933 to 1945. </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_1"><img src="img/bmw/S1/smal/bg_2015_bmw_1_series_header.jpg" alt="series1"></a>
							<figcaption>Series 1</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_3"><img src="img/bmw/S3/smal/2019-bmw-3.jpg" alt="series3"></a>
							<figcaption>Series 3</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="series_5"><img src="img/bmw/S5/smal/new-bmw-5-series-sedan.jpg" alt="series5"></a>
							<figcaption>Series 5</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<script type="text/javascript" src="js/backtotop.js"></script>	
	</main>
	
	<%- include('../partials/footer') %>