<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>BMW Series 1</h1>
					<p>The BMW 1 Series is a range of subcompact executive cars (C-segment) manufactured by BMW since 2004. It is the successor to the BMW 3 Series Compact and is currently in its third generation.

						The first generation was produced in hatchback, coupe and convertible body styles. Since the second generation (introduced in 2013), the coupé and convertible models have been marketed as the 2 Series, therefore the 1 Series range no longer includes these body styles. A sedan model became available for the Chinese market in 2017. </p>
						
				</header>
				
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
   		<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>