<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>BMW Series 1</h1>
					<p>The BMW 1 Series is a range of subcompact executive cars (C-segment) manufactured by BMW since 2004. It is the successor to the BMW 3 Series Compact and is currently in its third generation.

						The first generation was produced in hatchback, coupe and convertible body styles. Since the second generation (introduced in 2013), the coupé and convertible models have been marketed as the 2 Series, therefore the 1 Series range no longer includes these body styles. A sedan model became available for the Chinese market in 2017. </p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/bmw/S1/galery/bmw_1.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/bmw_1.jpg" alt="S1"></a>
						<a href="img/bmw/S1/galery/s14.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/s14.jpg" alt="S1"></a>
						<a href="img/bmw/S1/galery/BMW-1.jpg" data-lightbox="galleryS1"></a>
						<a href="img/bmw/S1/galery/s1.jpg" data-lightbox="galleryS1"></a>
						<a href="img/bmw/S1/galery/bmw-m1.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/bmw-m1.jpg" alt="S1"></a>
						<a href="img/bmw/S1/galery/s11.jpg" data-lightbox="galleryS1"></a>
						<a href="img/bmw/S1/galery/s15.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/s15.jpg" alt="S1"></a>
						<a href="img/bmw/S1/galery/F20.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/F20.jpg" alt="S1"></a>
						<a href="img/bmw/S1/galery/s12.jpg" data-lightbox="galleryS1"></a>
						<a href="img/bmw/S1/galery/s13.jpg" data-lightbox="galleryS1"><img src="img/bmw/S1/galery/s13.jpg" alt="S1"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
   		<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>