<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>BMW Series 5</h1>
					<p>The BMW 5 Series is an executive car manufactured by BMW since 1972. It is the successor to the New Class Sedans and is currently in its seventh generation.

						Initially, the 5 Series was only available in a sedan body style. The wagon/estate body style (called "Touring") was added in 1991 and the 5-door fastback (called "Gran Turismo") was produced from 2009 to 2017. </p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/bmw/S5/galery/BMW5.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/BMW5.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/s5.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/s5.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/bmw.jpg" data-lightbox="galleryS5"></a>
						<a href="img/bmw/S5/galery/s52.jpg" data-lightbox="galleryS5"></a>
						<a href="img/bmw/S5/galery/5bmw.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/5bmw.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/s53.jpg" data-lightbox="galleryS5"></a>
						<a href="img/bmw/S5/galery/G30.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/G30.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/s51.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/s51.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/BMW_5.jpg" data-lightbox="galleryS5"></a>
						<a href="img/bmw/S5/galery/s54.jpg" data-lightbox="galleryS5"><img src="img/bmw/S5/galery/s54.jpg" alt="S5"></a>
						<a href="img/bmw/S5/galery/bmw-5.jpg" data-lightbox="galleryS5"></a>
						<a href="img/bmw/S5/galery/s55.jpg" data-lightbox="galleryS5"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>

	<%- include('../partials/footer') %>