<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Ford Fiesta</h1>
					<p> Fiesta was originally designed by the project “Bobcat” team headed by Trevor Erskine (not to be confused with the subsequent badge engineered Mercury variant of the Ford Pinto) and approved for development by Henry Ford II in September 1972, just after the launch of two comparable cars – the Fiat 127 and Renault 5. More than a decade earlier, Ford had decided against producing a new small car to rival BMC's Mini as the production cost was deemed too high, but the 1973 oil crisis saw a rise in the already growing demand for smaller cars. </p>
						
				</header>
				
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>