<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Ford Focus</h1>
					<p>The Focus was released in July 1998 in Europe, succeeding the Ford Escort, and replaced the Mazda Familia-derived Ford Laser in Asia and Oceania along with the Laser-based North American Escort. Wayne Stamping & Assembly started producing the Focus for North America with sales beginning in 1999. The last North American-produced Focus rolled off the line at the Michigan Assembly Plant on May 4, 2018. Production of a fourth generation Focus began elsewhere in 2018. </p>
						
				</header>
				
			
				
			</div>	
				
		</section>
		
	</main>
	
	<%- include('../partials/footer') %>