	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Ford</h1>
					<p>Nie wiem kto to będzie pisał. Pewnie będą to jakieś z dupy teksty o nowych beznadziejnych furach. Zamiast zrobić cool strone o prawdziwych samochodach to te nędzne popierdułki będą tutaj pokazywane. HA HA HA.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="mustang"><img src="img/malysz.jpg" alt="Mustang"></a>
							<figcaption>Ford Mustang</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="fiesta"><img src="img/stoch.jpg" alt="Fiesta"></a>
							<figcaption>Ford Fiesta</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="focus"><img src="img/schmitt.jpg" alt="Focus"></a>
							<figcaption>Ford Focus</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	