	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>FORD</h1>
					<p>Ford Motor Company, commonly known as Ford, is an American multinational automaker that has its main headquarters in Dearborn, Michigan, a suburb of Detroit. It was founded by Henry Ford and incorporated on June 16, 1903. The company sells automobiles and commercial vehicles under the Ford brand, and most luxury cars under the Lincoln brand. Ford also owns Brazilian SUV manufacturer Troller, an 8% stake in Aston Martin of the United Kingdom and a 32% stake in Jiangling Motors. It also has joint-ventures in China (Changan Ford), Taiwan (Ford Lio Ho), Thailand (AutoAlliance Thailand), Turkey (Ford Otosan), and Russia (Ford Sollers). The company is listed on the New York Stock Exchange and is controlled by the Ford family; they have minority ownership but the majority of the voting power. </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="mustang"><img src="img/ford/mustang/smal/Mustang1965-1973.jpg" alt="Mustang"></a>
							<figcaption>Ford Mustang</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="fiesta"><img src="img/ford/fiesta/smal/Fiesta2017-.jpg" alt="Fiesta"></a>
							<figcaption>Ford Fiesta</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="focus"><img src="img/ford/focus/smal/Focus2018-.jpg" alt="Focus"></a>
							<figcaption>Ford Focus</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	