<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Ford Mustang</h1>
					<p>Executive stylist John Najjar, who was a fan of the World War II P-51 Mustang fighter plane, is credited by Ford to have suggested the name. Najjar co-designed the first prototype of the Ford Mustang known as Ford Mustang I in 1961, working jointly with fellow Ford stylist Philip T. Clark. The Mustang I made its formal debut at the United States Grand Prix in Watkins Glen, New York, on October 7, 1962, where test driver and contemporary Formula One race driver Dan Gurney lapped the track in a demonstration using the second "race" prototype. His lap times were only slightly off the pace of the F1 race cars. </p>
						
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/ford/mustang/galery/M1965.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/M1965.jpg" alt="FM"></a>
						<a href="img/ford/mustang/galery/m1.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/M1974.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/m2.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/m2.jpg" alt="FM"></a>
						<a href="img/ford/mustang/galery/M2015.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/M2015.jpg" alt="FM"></a>
						<a href="img/ford/mustang/galery/m3.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/m3.jpg" alt="FM"></a>
						<a href="img/ford/mustang/galery/M1994.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/m4.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/M2005.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/M2005.jpg" alt="FM"></a>
						<a href="img/ford/mustang/galery/m5.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/M1979.jpg" data-lightbox="galleryFM"></a>
						<a href="img/ford/mustang/galery/m6.jpg" data-lightbox="galleryFM"><img src="img/ford/mustang/galery/m6.jpg" alt="FM"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>

	<%- include('../partials/footer') %>