
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Mustang</h1>
					<p>Executive stylist John Najjar, who was a fan of the World War II P-51 Mustang fighter plane, is credited by Ford to have suggested the name. Najjar co-designed the first prototype of the Ford Mustang known as Ford Mustang I in 1961, working jointly with fellow Ford stylist Philip T. Clark. The Mustang I made its formal debut at the United States Grand Prix in Watkins Glen, New York, on October 7, 1962, where test driver and contemporary Formula One race driver Dan Gurney lapped the track in a demonstration using the second "race" prototype. His lap times were only slightly off the pace of the F1 race cars. </p>
						
				</header>
				
			
				
			</div>	
				
		</section>
		
	</main>
