<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Honda Civic</h1>
					<p>The Honda Civic is a line of cars manufactured by Honda. Originally a subcompact, the Civic has gone through several generational changes, becoming both larger and more upscale, moving into the compact car segment. EPA guidelines for vehicle size class stipulate a car having combined passenger and cargo room of 110 to 119.9 cubic feet (3,110 to 3,400 L) is considered a mid-size car, and as such the tenth generation Civic sedan is technically a small-end mid-size car, although it still competes in the compact class.[1] The Civic coupé is still considered a compact car. The Civic currently falls between the Honda City and Honda Accord. </p>
						
				</header>
				
				<div class="row">
					<div class="gallery">
						<a href="img/honda/Civic/galery/2020h.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/2020h.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/c4.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/c4.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/2017_HC.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/c1.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/Civic.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/Civic.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/c5.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/c5.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/2018h.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/c2.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/Civicthedrive.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/Civicthedrive.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/CivicBlue.jpg" data-lightbox="galleryC"><img src="img/honda/Civic/galery/CivicBlue.jpg" alt="C"></a>
						<a href="img/honda/Civic/galery/c3.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/c6.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/H2017.jpg" data-lightbox="galleryC"></a>
						<a href="img/honda/Civic/galery/c12.jpg" data-lightbox="galleryC"></a>

					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>