<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>HONDA</h1>
					<p>Honda Motor Company, Ltd. is a Japanese public multinational conglomerate corporation primarily known as a manufacturer of automobiles, motorcycles, and power equipment.

						Honda has been the world's largest motorcycle manufacturer since 1959, reaching a production of 400 million by the end of 2019, as well as the world's largest manufacturer of internal combustion engines measured by volume, producing more than 14 million internal combustion engines each year. Honda became the second-largest Japanese automobile manufacturer in 2001. Honda was the eighth largest automobile manufacturer in the world in 2015. </p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="civic"><img src="img/honda/civic/smal/Civic.jpg" alt="civic"></a>
							<figcaption>Civic</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="crv"><img src="img/honda/CRV/smal/Honda_CR-V_2015.jpg" alt="crv"></a>
							<figcaption>CR-V</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="hrv"><img src="img/honda/HRV/smal/honda-hr-v-crossover-suv-2015.jpg" alt="hrv"></a>
							<figcaption>HR-V</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<%- include('../partials/api') %>
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>