
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Honda</h1>
					<p>Nie wiem kto to będzie pisał. Pewnie będą to jakieś z dupy teksty o nowych beznadziejnych furach. Zamiast zrobić cool strone o prawdziwych samochodach to te nędzne popierdułki będą tutaj pokazywane. HA HA HA.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="civic"><img src="img/malysz.jpg" alt="civic"></a>
							<figcaption>Civic</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="crv"><img src="img/stoch.jpg" alt="crv"></a>
							<figcaption>CRV</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="hrv"><img src="img/schmitt.jpg" alt="hrv"></a>
							<figcaption>HRV</figcaption>
						</figure>
					
					</div>	
				
				</div>
				
			</div>	
				
		</section>
		
	</main>
	