<%- include('../partials/headerLog') %>
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>Honda HR-V</h1>

					<p>The Honda HR-V is a subcompact, front-engine, four passenger, front- or all-wheel drive crossover SUV, manufactured and marketed by Honda over two generations.

						The first generation HR-V was based on the Honda Logo; was marketed from 1999-2006 in Europe, Japan and select Asia-Pacific markets — and featured three doors (1999-2003) or five doors (1999-2006). The two configurations were internally designated GH2 and GH4 respectively.
						
						After a hiatus between 2006 and 2013, Honda reintroduced the nameplate for the second generation HR-V, based on the third-generation Honda Fit. Production began in late 2013 for the JDM (as the Vezel) and in 2015 in North America, Australia, Brazil and select Asian markets as the HR-V. </p>
				</header>
				<div class="row">
					<div class="gallery">
						<a href="img/honda/HRV/galery/2017hrV.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/2017hrV.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/hrv2.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/hrv2.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/HRV.jpg" data-lightbox="galleryHRV"></a>
						<a href="img/honda/HRV/galery/hrv1.jpg" data-lightbox="galleryHRV"></a>
						<a href="img/honda/HRV/galery/hrv2015.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/hrv2015.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/hrv3.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/hrv3.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/HRVext.jpg" data-lightbox="galleryHRV"></a>
						<a href="img/honda/HRV/galery/hrv13.jpg" data-lightbox="galleryHRV"></a>
						<a href="img/honda/HRV/galery/2020hrv.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/2020hrv.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/hr-v-st.jpg" data-lightbox="galleryHRV"><img src="img/honda/HRV/galery/hr-v-st.jpg" alt="HRV"></a>
						<a href="img/honda/HRV/galery/HRV-S.jpg" data-lightbox="galleryHRV"></a>
					</div>	
				
				</div>
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Front Manual</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Hood Manual</figcaption>
						</figure>
					
					</div>

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Rear Manual</figcaption>
						</figure>
					
					</div>	

					<div class="col-sm-6 col-md-3">
					
						<figure>
							<a href="./img/dummy.pdf" download><img id="pdf" src="img/pdf.png" alt="pdfIcon"></a>
							<figcaption>Owner's Manual</figcaption>
						</figure>
					
					</div>
				
				</div>
			
				
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>